Sublime/Packages/User/Package Control.cache/
Sublime/Packages/User/Package Control.last-run
Sublime/Packages/User/Package Control.merged-ca-bundle
Sublime/Packages/User/oscrypto-ca-bundle.crt

.DS_Store

/iTerm/.local_config.sh